body {
  font-family: Arial, sans-serif;
  background:#3f748a;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  animation: fadeIn 1s ease-in-out;
}

.cuerpo-welcome {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 400px;
  animation: slideDown 0.8s ease-out;
}

.titulos h1 {
  color: #2c3e50;
  margin-bottom: 20px;
  font-size: 24px;
}

.titulos p {
  color: #34495e;
  margin-bottom: 30px;
  font-size: 16px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  
}

.botones-color {
  width: 150px;
  padding: 10px;
  font-size: 16px;
  border-radius: 30px;
  background-color: #34495e;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s ease-in-out;
}
.fab-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}
.fab {
  background-color: #ff5b62;
  color: white; 
  padding: 10px 20px; 
  border: none;  
  border-radius: 8px; 
  font-size: 16px; 
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s; 
  text-decoration: none; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
}

.btn-primary {
  background-color: #34495e;
}

.botones-color:hover {
  background-color: #2980b9;
  transform: scale(1.1);
}

.botones-color:focus {
  outline: none;
}

.mr-2 {
  margin-right: 10px;
}

.ml-2 {
  margin-left: 10px;
}
.logo {
  width: 350px;
}



@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


