body.background {
  background-image: url('/assets/fondoClinica.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  overflow: auto;
  font-family: "Poppins", sans-serif;
}

main {
  padding: 20px;
  background: rgba(255, 255, 255, 0.8); /* Fondo blanco semi-transparente */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h2, p {
  text-align: center;
}

.center-button {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  width: 100%;
}

.btn-success {
  background-color: #a72892;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  
  &:hover {
    background-color: #7f196e;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.input-width {
  display: flex;
  align-items: center;
  max-width: 500px;
}

.input-styling {
  width: 100%;
  box-sizing: border-box;
}

.buscar-logo {
  margin-right: 8px;
  width: 50px;
  height: 50px;
}

.turnos-list-container {
  .table-responsive {
    max-height: 400px;
    overflow-y: auto;
  }

  .table {
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
    
    th, td {
      text-align: center;
      vertical-align: middle;
      padding: 12px;
      border: 1px solid #ddd;
    }
    
    th {
      position: sticky;
      top: 0;
      font-weight: bold;
      background-color: #007BFF;
      color: #fff;
      z-index: 1;
    }
    
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
    
    tr:hover {
      background-color: #ddd;
    }
    
    .disabled-button {
      background-color: #cccccc !important;
      color: #666666 !important;
      cursor: not-allowed !important;
      border: 1px solid #cccccc !important;
      padding: 5px 10px !important;
      border-radius: 5px !important;
    }
  }
}

/* Estilos para los estados del turno */
.status-realizado {
  color: white;
  background-color: green;
  font-weight: bold;
  padding: 2px 5px;
  border-radius: 5px;
}

.status-pendiente {
  color: black;
  background-color: yellow;
  font-weight: bold;
  padding: 2px 5px;
  border-radius: 5px;
}

.status-cancelado {
  color: white;
  background-color: red;
  font-weight: bold;
  padding: 2px 5px;
  border-radius: 5px;
}
