<div class="background"> 
<div class="content-wrapper">
    <h2>Historias Clínicas de Pacientes Atendidos</h2>
    <div class="historias-carrusel">
    <div *ngFor="let historia of historiasClinicas" class="card historia-card">
        <div class="card-body">
        <p class="card-title"><strong>Paciente:</strong> {{ historia.pacienteEmail }}</p>
        <p><strong>Fecha de Atención:</strong> {{ historia.fecha | date: 'dd/MM/yyyy, h:mm a' }}</p>
        <p><strong>Altura:</strong> {{ historia.altura }} cm</p>
        <p><strong>Peso:</strong> {{ historia.peso }} kg</p>
        <p><strong>Temperatura:</strong> {{ historia.temperatura }} °C</p>
        <p><strong>Presión:</strong> {{ historia.presion }}</p>
        
        <div *ngIf="historia.datosDinamicos && historia.datosDinamicos.length > 0">
            <h5>Datos Adicionales</h5>
            <ul class="list-unstyled">
            <li *ngFor="let dato of historia.datosDinamicos"> • {{ dato.clave }}: {{ dato.valor }}</li>
            </ul>
        </div>
        </div>
    </div>
    </div>
  </div>
</div>