
<div class="background">
<div class="form-container">
  <h2 class="form-title">Mi Perfil</h2>
  <div class="profile-info">
    <p><strong>Nombre:</strong> {{ usuarioActual?.nombre }}</p>
    <p><strong>Apellido:</strong> {{ usuarioActual?.apellido }}</p>
    <p><strong>Email:</strong> {{ usuarioActual?.mail }}</p>
    <p *ngIf="usuarioActual?.obrasocial"><strong>Obra Social:</strong> {{ usuarioActual.obrasocial }}</p>
    <p *ngIf="usuarioActual?.edad"><strong>Edad:</strong> {{ usuarioActual.edad }}</p>

    <div class="profile-container">
      <div *ngIf="esPaciente">
        <img *ngIf="usuarioActual?.imagenPerfil1" [src]="usuarioActual.imagenPerfil1" alt="Imagen de perfil 1 del paciente" />
        <!-- <img *ngIf="usuarioActual?.imagenPerfil2" [src]="usuarioActual.imagenPerfil2" alt="Imagen de perfil 2 del paciente" />-->
      </div>

      <div *ngIf="esAdmin">
        <img *ngIf="usuarioActual?.imagenPerfil" [src]="usuarioActual.imagenPerfil" alt="Imagen de perfil del administrador" />
      </div>

      <div *ngIf="esEspecialista">
        <img *ngIf="usuarioActual?.imagenPerfil" [src]="usuarioActual.imagenPerfil" alt="Imagen de perfil del especialista" />
      </div>
    </div>
  
    <!--Seccion solo para pacientes-->

    <button *ngIf="esPaciente" (click)="toggleHistoriaClinica()" class="btn-toggle">
      {{ mostrarHistoriaClinica ? 'Ocultar Historia Clínica' : 'Ver mi Historia Clínica' }}
    </button>
    <button *ngIf="esPaciente" (click)="generarPDF()" class="btn btn-primary">
      Descargar Historia Clínica en PDF
    </button>

    <div class="historia-clinica-container" *ngIf="mostrarHistoriaClinica">
      <h3 class="text-center">Mis Historias Clínicas</h3>
      <div class="historia-clinicas-carrusel">
        <div *ngFor="let historia of historiasClinicas" class="historia-card fade-in">
          <p><strong>Fecha de Atención:</strong> {{ historia.fecha | date: 'dd/MM/yyyy, h:mm a' }}</p>
          <p><strong>Altura:</strong> {{ historia.altura }} cm</p>
          <p><strong>Peso:</strong> {{ historia.peso }} kg</p>
          <p><strong>Temperatura:</strong> {{ historia.temperatura }} °C</p>
          <p><strong>Presión:</strong> {{ historia.presion }}</p>
          <div *ngIf="historia.datosDinamicos?.length > 0">
            <h5>Datos Adicionales</h5>
            <ul class="list-unstyled">
              <li *ngFor="let dato of historia.datosDinamicos">• {{ dato.clave }}: {{ dato.valor }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    

    <!--- Seccion solo para especialistas -->
    <button *ngIf="esEspecialista" (click)="toggleDisponibilidad()" class="btn-toggle">
      {{ mostrarDisponibilidad ? 'Ocultar Disponibilidad Horaria' : 'Cargar Disponibilidad Horaria' }}
    </button>

  
    <div class="disponibilidad-container" *ngIf="mostrarDisponibilidad">

      <div id="snackbar" *ngIf="mostrarSnackbar" class="snackbar" [class.show]="mostrarSnackbar">
        Disponibilidad horaria cargada exitosamente
      </div>

      <form [formGroup]="disponibilidadForm" (ngSubmit)="guardarDisponibilidad()" class="fade-in">
        <label for="especialidadSeleccionada">Seleccione una especialidad:</label>
        <select formControlName="especialidadSeleccionada" id="especialidadSeleccionada" class="form-control">
          <option *ngFor="let especialidad of especialidades" [value]="especialidad">{{ especialidad }}</option>
        </select>

        <label for="fechaSeleccionada">Seleccione un día:</label>
        <select formControlName="fechaSeleccionada" id="fechaSeleccionada" class="form-control" (change)="generarIntervalosHorarios()">
          <option *ngFor="let dia of proximosDias" [value]="dia.fecha.toISOString()">
            {{ dia.dia }}
          </option>
        </select>

        <label for="horario">Horario:</label>
        <select formControlName="horario" id="horario" class="form-control">
          <option *ngFor="let intervalo of intervalosDisponibles" [value]="intervalo">{{ intervalo }}</option>
        </select>

        <div *ngIf="disponibilidadForm.get('horario')?.hasError('horarioInvalido')">
          Horario fuera del rango permitido
        </div>

        <button type="submit" [disabled]="disponibilidadForm.invalid">Guardar Disponibilidad</button>
      </form>
    </div>
  </div>
  <button class="floating-logout-button" (click)="logout()">
    <i class="fa solid fa-power-off"></i> Cerrar sesión
  </button>

  <div class="center-button">
    <input type="button" class="btn-success" (click)="goTo('/home')" value="Volver a inicio" />
  </div>
</div>
</div>
