#about-clinic {
  padding: 60px 0;
  text-align: center;
  color: #2f2f2f;
  
  .carousel {
    max-width: 80%;
    margin: 0 auto 30px auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
  }

  .carousel-inner {
    img {
      height: 400px;
      object-fit: cover;
      border-radius: 8px;
    }
  }

  .clinic-description {
    max-width: 900px; /* Aumentamos el ancho máximo */
    margin: 20px auto;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  
    h2 {
      font-size: 1.8rem;
      color: #3fbbc0;
      margin-bottom: 10px;
    }
  
    p {
      font-size: 1rem;
      line-height: 1.6;
      color: #555555;
      margin-bottom: 10px;
    }
  }
}

#header {
  background: #fff;
  height: 60px; /* Reducimos la altura del header */
  padding: 10px 0;
  top: 40px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.navbar ul {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.navbar a {
  padding: 5px 10px; /* Reducimos padding en los enlaces */
  font-size: 14px;
}




/*/ANTES */
  body {
    background-image: url('/assets/fondoClinica.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    margin: 0;
    padding: 0;
    min-height: 100vh;
    height: auto;
    font-family: "Euclid Circular A", "Poppins";
  }
  
  .navbar-custom {
      position: fixed;
      top: 0;
      right: 0;
      padding: 10px 20px;
      z-index: 1000;
      display: flex;
      align-items: center;
  }
  
  .navbar-custom a {
      color: #000000;
      text-decoration: none;
      cursor: pointer;
      display: flex;
      align-items: center;
  }
  
  .user-photo {
      width: 2rem;
      min-width: 2rem;
      height: 2rem;
      border-radius: 50%;
      margin-right: 0.5rem;
  }
  
  .fa-solid fa-power-off {
      color: #000000;
      width: 5rem;
      min-width: 5rem;
      height: 5rem;
  }
  
  
  .logout-button {
      margin-left: auto;
      cursor: pointer;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: transparent;
      border: none;
      color: #000000;
      display: flex;
      align-items: center;
      position: relative;
      font: "Poppins", sans-serif;
  
      i.fa {
          font-size: 1.5rem;
          margin-right: 0.5rem;
  
      }
  }
  
  .dropdown-content {
      position: absolute;
      top: calc(65% + 10px);
      right: 0;
      text-align: center;
      border-radius: 0.313rem;
      padding: 0.2rem;
      min-width: 10rem;
  
      button {
          width: 100%;
          border: none;
          background: transparent;
          color: #000000;
          cursor: pointer;
          display: flex;
          align-items: center;
          padding: 0.5rem 0;
          transition: background-color 0.3s;
      }
  
  }
  
  .logout-button:hover+.dropdown-content {
      display: block;
  }
  
    #hero {
      width: 100%;
      height: 97vh;
      background-color: rgba(60, 60, 60, 0.8);
      overflow: hidden;
      position: relative;
    }
  
    #hero .carousel,
    #hero .carousel-inner,
    #hero .carousel-item,
    #hero .carousel-item::before {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }
   
    #hero .carousel-item {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }
     
    #hero .container {
      text-align: center;
      background: rgba(255, 255, 255, 0.9);
      padding-top: 30px;
      padding-bottom: 30px;
      margin-bottom: 50px;
      border-top: 4px solid #3fbbc0;
    }
  
   
     @media (max-width: 1200px) {
      #hero .container {
        margin-left: 50px;
        margin-right: 50px;
      }
    } 
      
    #hero h2 {
      color: #2f2f2f;
      margin-bottom: 20px;
      font-size: 36px;
      font-weight: 700;
    }
   
    #hero p {
      margin: 0 auto 30px auto;
      color: #555555;
    }
   
    #hero .carousel-inner .carousel-item {
      transition-property: opacity;
      background-position: center top;
    }
     
    #hero .carousel-inner .carousel-item,
    #hero .carousel-inner .active.carousel-item-start,
    #hero .carousel-inner .active.carousel-item-end {
      opacity: 0;
    }
    
    #hero .carousel-inner .active,
    #hero .carousel-inner .carousel-item-next.carousel-item-start,
    #hero .carousel-inner .carousel-item-prev.carousel-item-end {
      opacity: 1;
      transition: 0.5s;
    }
  
    #hero .carousel-inner .carousel-item-next,
    #hero .carousel-inner .carousel-item-prev,
    #hero .carousel-inner .active.carousel-item-start,
    #hero .carousel-inner .active.carousel-item-end {
      left: 0;
      transform: translate3d(0, 0, 0);
    }
  
    #hero .carousel-control-next-icon,
    #hero .carousel-control-prev-icon {
      background: none;
      font-size: 30px;
      line-height: 0;
      width: auto;
      height: auto;
      background: rgba(63, 187, 192, 0.8);
      border-radius: 50px;
      transition: 0.3s;
      color: rgba(255, 255, 255, 0.5);
      width: 54px;
      height: 54px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    #hero .carousel-control-next-icon:hover,
    #hero .carousel-control-prev-icon:hover {
      background: #3fbbc0;
      color: rgba(255, 255, 255, 0.8);
    }
    
    #hero .carousel-indicators li {
      list-style-type: none;
      cursor: pointer;
      background: #fff;
      overflow: hidden;
      border: 0;
      width: 12px;
      height: 12px;
      border-radius: 50px;
      opacity: 0.6;
      transition: 0.3s;
    }
    
    #hero .carousel-indicators li.active {
      opacity: 1;
      background: #3fbbc0;
    }
       
    #hero .btn-get-started {
      font-family: "Euclid Circular A", "Poppins";
      font-weight: 500;
      font-size: 14px;
      letter-spacing: 1px;
      display: inline-block;
      padding: 14px 32px;
      border-radius: 4px;
      transition: 0.5s;
      line-height: 1;
      color: #fff;
      background: #3fbbc0;
    }
    
    #hero .btn-get-started:hover {
      background: #65c9cd;
    }
    
   
   #preloader {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 9999;
      overflow: hidden;
      background: #fff;
    }
    
    #preloader:before {
      content: "";
      position: fixed;
      top: calc(50% - 30px);
      left: calc(50% - 30px);
      border: 6px solid #3fbbc0;
      border-top-color: #ecf8f9;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      animation: animate-preloader 1s linear infinite;
    }
    
    @keyframes animate-preloader {
      0% {
        transform: rotate(0deg);
      }
    
      100% {
        transform: rotate(360deg);
      }
    }
  
  
   #topbar {
      background: #3fbbc0;
      color: #fff;
      height: 40px;
      font-size: 16px;
      font-weight: 600;
      z-index: 996;
      transition: all 0.5s;
    }
    
    #topbar.topbar-scrolled {
      top: -40px;
    }
    
    #topbar i {
      padding-right: 6px;
      line-height: 0;
    }
  
   #header {
      background: #fff;
      transition: all 0.5s;
      z-index: 997;
      padding: 20px 0;
      top: 40px;
      box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    }
    
    
    #header.header-scrolled {
      top: 0;
    }
    
    #header .logo {
      font-size: 28px;
      margin: 0;
      padding: 0;
      line-height: 1;
      font-weight: 600;
      letter-spacing: 0.5px;
      text-transform: uppercase;
    }
    
    #header .logo a {
      color: #555555;
    }
    
    #header .logo img {
      max-height: 80px;
    }
    
  
    .appointment-btn {
      margin-left: 25px;
      background: #3fbbc0;
      color: #fff;
      border-radius: 4px;
      padding: 8px 25px;
      white-space: nowrap;
      transition: 0.3s;
      font-size: 14px;
      display: inline-block;
    }
    
    .appointment-btn:hover {
      background: #65c9cd;
      color: #fff;
    }
    
    @media (max-width: 768px) {
      .appointment-btn {
        margin: 0 15px 0 0;
        padding: 6px 15px;
      }
    }
  
  
  .navbar {
      padding: 0;
      cursor: pointer;
    }
    
    .navbar ul {
      margin: 0;
      padding: 0;
      display: flex;
      list-style: none;
      align-items: center;
    }
    
    .navbar li {
      position: relative;
    }
    
    .navbar a,
    .navbar a:focus {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 0 10px 30px;
      font-family: "Euclid Circular A", "Poppins";
      font-size: 13px;
      color: #626262;
      white-space: nowrap;
      transition: 0.3s;
      text-transform: uppercase;
      font-weight: 500;
    }
    
    .navbar a i,
    .navbar a:focus i {
      font-size: 12px;
      line-height: 0;
      margin-left: 5px;
    }
    
    .navbar a:hover,
    .navbar .active,
    .navbar .active:focus,
    .navbar li:hover>a {
      color: #3fbbc0;
    }
    
    .navbar .dropdown ul {
      display: block;
      position: absolute;
      left: 14px;
      top: calc(100% + 30px);
      margin: 0;
      padding: 10px 0;
      z-index: 99;
      opacity: 0;
      visibility: hidden;
      background: #fff;
      box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
      transition: 0.3s;
      border-radius: 4px;
    }
    
    .navbar .dropdown ul li {
      min-width: 200px;
    }
    
    .navbar .dropdown ul a {
      padding: 10px 20px;
      text-transform: none;
    }
    
    .navbar .dropdown ul a i {
      font-size: 12px;
    }
    
    .navbar .dropdown ul a:hover,
    .navbar .dropdown ul .active:hover,
    .navbar .dropdown ul li:hover>a {
      color: #3fbbc0;
    }
    
    .navbar .dropdown:hover>ul {
      opacity: 1;
      top: 100%;
      visibility: visible;
    }
    
    .navbar .dropdown .dropdown ul {
      top: 0;
      left: calc(100% - 30px);
      visibility: hidden;
    }
    
    .navbar .dropdown .dropdown:hover>ul {
      opacity: 1;
      top: 0;
      left: 100%;
      visibility: visible;
    }
    
    @media (max-width: 1366px) {
      .navbar .dropdown .dropdown ul {
        left: -90%;
      }
    
      .navbar .dropdown .dropdown:hover>ul {
        left: -100%;
      }
    }
    
  
    .mobile-nav-toggle {
      color: #555555;
      font-size: 28px;
      cursor: pointer;
      display: none;
      line-height: 0;
      transition: 0.5s;
    }
    
    .mobile-nav-toggle.bi-x {
      color: #fff;
    }
    
    @media (max-width: 991px) {
      .mobile-nav-toggle {
        display: block;
      }
    
      .navbar ul {
        display: none;
      }
    }
    
    .navbar-mobile {
      position: fixed;
      overflow: hidden;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background: rgba(60, 60, 60, 0.9);
      transition: 0.3s;
      z-index: 999;
    }
    
    .navbar-mobile .mobile-nav-toggle {
      position: absolute;
      top: 15px;
      right: 15px;
    }
    
    .navbar-mobile ul {
      display: block;
      position: absolute;
      top: 55px;
      right: 15px;
      bottom: 15px;
      left: 15px;
      padding: 10px 0;
      border-radius: 8px;
      background-color: #fff;
      overflow-y: auto;
      transition: 0.3s;
    }
    
    .navbar-mobile a,
    .navbar-mobile a:focus {
      padding: 10px 20px;
      font-size: 15px;
      color: #555555;
    }
    
    .navbar-mobile a:hover,
    .navbar-mobile .active,
    .navbar-mobile li:hover>a {
      color: #3fbbc0;
    }
    
    .navbar-mobile .dropdown ul {
      position: static;
      display: none;
      margin: 10px 20px;
      padding: 10px 0;
      z-index: 99;
      opacity: 1;
      visibility: visible;
      background: #fff;
      box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    }
    
    .navbar-mobile .dropdown ul li {
      min-width: 200px;
    }
    
    .navbar-mobile .dropdown ul a {
      padding: 10px 20px;
    }
    
    .navbar-mobile .dropdown ul a i {
      font-size: 12px;
    }
    
    .navbar-mobile .dropdown ul a:hover,
    .navbar-mobile .dropdown ul .active:hover,
    .navbar-mobile .dropdown ul li:hover>a {
      color: #3fbbc0;
    }
    
    .navbar-mobile .dropdown>.dropdown-active {
      display: block;
    } 
  
    .nav-link{
      cursor: pointer;
    }
  
    .site-footer {
      text-align: center;
    }
    
    .site-footer p {
      margin: 5px;
      font-size: 14px;
      
    }
  
  
    .shake-bottom {
      display: inline-block;
    }
    
    .shake-bottom:hover {
      -webkit-animation: shake-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
              animation: shake-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    }
  
  
  @-webkit-keyframes shake-bottom {
    0%,
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
    10% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
      -webkit-transform: rotate(-4deg);
              transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
      -webkit-transform: rotate(4deg);
              transform: rotate(4deg);
    }
    80% {
      -webkit-transform: rotate(-2deg);
              transform: rotate(-2deg);
    }
    90% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
  }
  @keyframes shake-bottom {
    0%,
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
    10% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
      -webkit-transform: rotate(-4deg);
              transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
      -webkit-transform: rotate(4deg);
              transform: rotate(4deg);
    }
    80% {
      -webkit-transform: rotate(-2deg);
              transform: rotate(-2deg);
    }
    90% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
  }


  .floating-logout-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ff5b62;
    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    gap: 8px;
    transition: background-color 0.3s, transform 0.2s;
  }
  

  .floating-logout-button:hover {
    background-color: #d9534f;
  }
  
  .floating-logout-button:active {
    transform: scale(0.95);
  }
  
  
  .floating-logout-button i {
    font-size: 1.2rem;
  }

  .nav-link.active {
    font-weight: bold;
    color: #007bff; /* Color del enlace activo */
    border-bottom: 2px solid #007bff; /* Línea decorativa debajo */
  }
