<body>
   <!--  <app-loading *ngIf="showLoading" class="centered-loading"></app-loading>-->
  
    <div class="navbar-custom">
      <a class="user-color" (click)="toggleDropdown()" *ngIf="currentUser$ | async as user" >
        <img *ngIf="user.photoURL" src="{{user.photoURL}}" alt="Foto de perfil de usuario" class="user-photo">
        <img *ngIf="!user.photoURL" src="https://firebasestorage.googleapis.com/v0/b/tp-sala-de-juegos-diazgiossol.appspot.com/o/guest.webp?alt=media&token=69e91e4a-832d-4439-ab69-a30e2c8d80ee"  class="user-photo">
        {{ user.displayName?user.displayName : user.email }} 
      </a>
      <div class="dropdown-content" *ngIf="isDropdownOpen">
        <button class="logout-button" *ngIf="showLogoutButton" (click)="logout()">
          <i class="fa solid fa-power-off"></i> Cerrar Sesión
        </button>
      </div>
    </div>
    
    <form [formGroup]="solicitarTurnoForm">
  
      <ng-container *ngIf="isAdmin">
        <label for="paciente">Seleccione un paciente:</label>
        <select formControlName="paciente" (change)="onPacienteChange($event)">
          <option *ngFor="let paciente of pacientes" [value]="paciente.email">{{ paciente.nombre }} {{ paciente.apellido }}</option>
        </select>
      </ng-container>
  
      <ng-container>
        <div class="centered-content">
        <label for="especialista">Seleccione un especialista:</label>
   
        <div class="especialistas-container">
         <button type="button" class="especialistas-boton-cuadrado"  *ngFor="let especialista of especialistas" (click)="onEspecialistaButtonClick(especialista)" [class.selected]="especialista === especialistaSeleccionado">
           <p>{{ especialista.nombre }} {{ especialista.apellido }}</p>
           <img [src]="especialista.imagenPerfil" alt="{{ especialista.imagenPerfil }}" class="especialidad-image">
           <img [src]="getSafeImageURL(especialista.imagenPerfil)" alt="{{ especialista.nombre }}"  class="especialidad-button">
         </button>
       </div>
      </div>
     </ng-container>
  
      <div class="centered-content" *ngIf="especialistaSeleccionado" >
  
        <label for="especialidad">Seleccione su especialidad:</label>
  
      <div class="especialidades-container">
        <button type="button"  *ngFor="let especialidad  of especialidades"  (click)="onEspecialidadButtonClick(especialidad)" [class.selected]="especialidad === especialidadActual">
          <p>{{ especialidad === 'otra' ? especialistaSeleccionado.otraEspecialidad : especialidad }}</p>
          <!-- <img [src]="obtenerImagenEspecialidad(especialidad)" [appSinImagen] alt="{{ especialidad }}" class="especialidad-button1">-->
          <img [src]="obtenerImagenEspecialidad(especialidad)" alt="{{ especialidad }}" class="especialidad-button1">
        </button>
      </div>
  
          
      <ng-container *ngIf="especialidadActual && turnosDisponibles.length > 0">
        <h3>Turnos Disponibles</h3>
        <ul>
          <div class="horarios-container">
  
            <button type="button" 
            *ngFor="let turno of turnosDisponibles"
            [disabled]="isTurnoOcupado(turno)"
            [class.turno-disponible]="!turno.ocupado && turno !== turnoSeleccionado"
            [class.turno-ocupado]="turno.ocupado"
            [class.turno-seleccionado]="turno === turnoSeleccionado"
            (click)="onTurnoSeleccionado(turno)">
            <div class="fecha-hora">
              <span>{{ turno.dias[0] }}</span>
              <span>{{ turno.horaInicio | formatoHora }} - {{ turno.horaFin | formatoHora }}</span>
            </div>
          </button>
          
          </div>
        </ul>
      </ng-container>
  
    </div>
  </form>
  
  <footer class="site-footer">
    <div class="container">
      <p>&copy; 2024 Clinica Online. Todos los derechos reservados.</p>
    </div>
  </footer>
  
  </body>
  
  
  <div class="center-button">
      <button type="submit" class="btn-solicitar" (click)="isAdmin ? guardarTurnoAdmin() : guardarTurno()">Solicitar Turno</button>
      <input type="button" [value]="btnVolver" class="btn-success" (click)="onClickHome($event)" />
  </div>
