<body>
  <div class="login-container" *ngIf="formReg">
    <h1 class="form-title">Registro</h1>
    <label for="selectedRole" class="form-label">___________________________________________________________________</label>
    <br>
    <label for="selectedRole" class="form-label"><br>Selecciona tu perfil:<br></label><br>

    <div class="profile-buttons-container">
      <button type="button" id="paciente" name="selectedRole" 
        [value]="'paciente'" 
        [class.selected]="selectedRole === 'paciente'" 
        (click)="selectRole('paciente')">
        <img src="assets/paciente1.png" alt="Paciente" class="profile-image">
        <span>Paciente</span>
      </button>
      <button type="button" id="especialista" name="selectedRole" 
        [value]="'especialista'" 
        [class.selected]="selectedRole === 'especialista'" 
        (click)="selectRole('especialista')">
        <img src="assets/especialista.png" alt="Especialista" class="profile-image">
        <span>Especialista</span>
      </button>
    </div>

    <div *ngIf="showLoadingUser" class="loading-overlay">
      <div class="spinner-container">
        <div class="spinner"></div>
        <p class="loading-text">Creando usuario...</p>
      </div>
    </div>

    <form [formGroup]="formReg" (ngSubmit)="onSubmit()" class="registration-form">
      <div *ngIf="formReg.get('selectedRole')?.value === 'paciente' || formReg.get('selectedRole')?.value === 'especialista'">
        <div class="form-row">
          <div class="col campoForm">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" formControlName="nombre" id="nombre" placeholder="Nombre" lettersOnly required
                   [class.campo-con-error]="getValue('nombre').invalid && (getValue('nombre').touched || getValue('nombre').dirty)">
            <div class="errorMessage" *ngIf="getValue('nombre').invalid && (getValue('nombre').touched || getValue('nombre').dirty)">
              Válidos solo caracteres alfabéticos.
            </div>
          </div>
          
          <div class="col campoForm">
            <label for="apellido" class="form-label">Apellido</label>
            <input type="text" class="form-control" formControlName="apellido" id="apellido" placeholder="Apellido" lettersOnly required
                   [class.campo-con-error]="getValue('apellido').invalid && (getValue('apellido').touched || getValue('apellido').dirty)">
            <div class="errorMessage" *ngIf="getValue('apellido').invalid && (getValue('apellido').touched || getValue('apellido').dirty)">
              Válidos solo caracteres alfabéticos.
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="col campoForm">
            <label for="edad" class="form-label">Edad</label>
            <input type="text" class="form-control" formControlName="edad" id="edad" placeholder="Edad" required
                   [class.campo-con-error]="getValue('edad').invalid && (getValue('edad').touched || getValue('edad').dirty)">
            <div class="errorMessage" *ngIf="getValue('edad').invalid && (getValue('edad').touched || getValue('edad').dirty)">
              <span *ngIf="getValue('edad').hasError('pattern')">Válidos solo caracteres numéricos.</span>
              <span *ngIf="selectedRole === 'especialista' && getValue('edad').hasError('min')">Debe ser mayor de edad.</span>
              <span *ngIf="selectedRole === 'paciente' && getValue('edad').hasError('min')">Edad mínima es 0.</span>
              <span *ngIf="getValue('edad').hasError('max')">Edad máxima es 99.</span>
            </div>
          </div>

          <div class="col campoForm">
            <label for="dni" class="form-label">DNI</label>
            <input type="text" class="form-control" formControlName="dni" id="dni" placeholder="DNI" numbersOnly required
                   [class.campo-con-error]="getValue('dni').invalid && (getValue('dni').touched || getValue('dni').dirty)">
            <div class="errorMessage" *ngIf="getValue('dni').invalid && (getValue('dni').touched || getValue('dni').dirty)">
              Válidos solo caracteres numéricos sin punto.
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="col campoForm">
            <label for="email" class="form-label">Correo Electrónico</label>
            <input type="email" class="form-control" formControlName="email" id="email" placeholder="Email" required
                   [class.campo-con-error]="getValue('email').invalid && (getValue('email').touched || getValue('email').dirty)">
            <div class="errorMessage" *ngIf="getValue('email').invalid && (getValue('email').touched || getValue('email').dirty)">
              Por favor, complete su email.
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="col campoForm">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" formControlName="password" id="password" placeholder="Contraseña" required
                   [class.campo-con-error]="getValue('password').invalid && (getValue('password').touched || getValue('password').dirty)">
            <div class="errorMessage" *ngIf="getValue('password').invalid && (getValue('password').touched || getValue('password').dirty)">
              Debe tener como mínimo 6 caracteres.
            </div>
          </div>

          <div class="col campoForm">
            <label for="confirmPassword" class="form-label">Confirmar Contraseña</label>
            <input type="password" class="form-control" formControlName="confirmPassword" id="confirmPassword" placeholder="Reingresar contraseña" required
                   [class.campo-con-error]="getValue('confirmPassword').invalid && (getValue('confirmPassword').touched || getValue('confirmPassword').dirty)">
            <div class="errorMessage" *ngIf="getValue('confirmPassword').invalid && (getValue('confirmPassword').touched || getValue('confirmPassword').dirty)">
              Por favor, reingrese su contraseña.
            </div>
          </div>
        </div>

        <!--- Datos pedidos solo para paciente OBRA SOCIAL, IMAGEN 1, IMAGEN 2 -->
        <div *ngIf="formReg.get('selectedRole')?.value === 'paciente'">
          <div class="form-row">
            <div class="col campoForm">
              <label for="obraSocial" class="form-label">Obra Social</label>
              <input type="text" id="obraSocial" class="form-control" formControlName="obraSocial" placeholder="Obra Social" required 
                     [class.campo-con-error]="getValue('obraSocial').invalid && (getValue('obraSocial').touched || getValue('obraSocial').dirty)">
              <div class="errorMessage" *ngIf="getValue('obraSocial').invalid && (getValue('obraSocial').touched || getValue('obraSocial').dirty)">
                Por favor, ingrese su obra social. Válido solo caracteres alfabéticos.
              </div>
            </div>
          </div>
          
          <div class="form-row">
            <div class="col campoForm">
              <label for="imagenPerfil1" class="form-label">Imagen de Perfil 1</label>
              <input type="file" class="form-control-file" id="imagenPerfil1" formControlName="imagenPerfil1" accept="image/*" required (change)="onFileSelected1($event)">
              <div class="errorMessage" *ngIf="formReg.get('imagenPerfil1')?.hasError('required')">
                Debes cargar una imagen.
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col campoForm">
              <label for="imagenPerfil2" class="form-label">Imagen de Perfil 2</label>
              <input type="file" id="imagenPerfil2" formControlName="imagenPerfil2" accept="image/*" required (change)="onFileSelected2($event)">
              <div class="errorMessage" *ngIf="formReg.get('imagenPerfil2')?.hasError('required')">
                Debes cargar una imagen.
              </div>
            </div>
          </div>
        </div>

        <!--- Datos pedidos solo para Especialista ESPECIALIDAD, OTRA ESPECIALIDAD, IMAGEN 1 -->
        <div *ngIf="formReg.get('selectedRole')?.value === 'especialista'">
          <div class="form-row">
            <div class="col campoForm">
              <label for="imagenPerfil" class="form-label">Imagen de Perfil</label>
              <input type="file" class="form-control-file" id="imagenPerfil" formControlName="imagenPerfil" accept="image/*" required (change)="onFileSelected($event)">
              <div class="errorMessage" *ngIf="formReg.get('imagenPerfil')?.hasError('required')">
                Debes cargar una imagen.
              </div>
            </div>
          </div>

          <div class="col campoForm">
            <label for="especialidad" class="form-label">Especialidad</label>
            <select class="form-control" id="especialidad" formControlName="especialidad">
              <option *ngFor="let specialty of specialties" [value]="specialty">{{ specialty }}</option>
            </select>
            <button type="button" (click)="addNewSpecialtyInput()">+</button>
          </div>
          


          <div *ngFor="let specialty of newSpecialties; let i = index; trackBy: trackByIndex">
            <input type="text" class="form-control" [(ngModel)]="newSpecialties[i]" [ngModelOptions]="{standalone: true}" placeholder="Nueva especialidad">
          </div>


        </div>

        <re-captcha (resolved)="onCaptchaResolved($event)" siteKey="6LfBfHcqAAAAAK6WPdu1ZQmm6klTcPVty-TlLamN"></re-captcha>
        <div *ngIf="!captchaResolved && formSubmitted" class="errorMessage">
          Por favor, completa el captcha.
        </div>
        
        <div *ngIf="formReg.get('selectedRole')?.value === 'paciente' || formReg.get('selectedRole')?.value === 'especialista'"> 
          <button type="submit" class="btn-submit">Registrarse</button>
        </div>
      </div>
      <button type="button" (click)="onClickWel($event)" class="back-button">Volver a inicio</button>
    </form>
  </div>
</body>

